/* MQ */
@media screen and (min-width: 1200px) {
  /* Header y nav */
  header h1 {
    font-size: 6rem; }
  nav ul li {
    font-size: 1.5rem; }
  /* Footer */
  footer .footer-inf div .footer-contact {
    font-size: 1rem; }
  footer .footer-inf .footer-nav-html {
    font-size: 1.5rem; }
  /* Main Index para desktop */
  .main-index div .sec-new-arrivals {
    display: flex;
    background-color: #0D5A65;
    width: 80%;
    height: 700px;
    margin: 1rem auto;
    flex-wrap: wrap;
    align-items: center; }
    .main-index div .sec-new-arrivals h2 {
      padding-left: 3rem;
      font-size: 3rem; }
  .main-index div .sec-sale {
    display: flex;
    align-items: center;
    width: 80%;
    height: 700px;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .main-index div .sec-sale h2 {
      text-align: right;
      font-size: 3rem;
      padding-right: 3rem; }
  .img-sec {
    width: auto;
    height: 100%; } }

nav ul li a, footer .foot-rrss li a {
  text-decoration: none;
  color: #D8E9A8; }

nav ul, footer .foot-rrss, #main-contacto ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none; }

/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Estilos del header y nav, igual en todas los html*/
header {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  header h1 {
    font-family: "Brawler", serif;
    font-size: 2rem;
    color: #E14545;
    letter-spacing: 0.3rem; }

nav {
  height: 1.5rem;
  width: 100%;
  background-color: #272626; }
  nav ul {
    height: 100%;
    width: 100%; }
    nav ul li {
      font-family: "Montserrat", sans-serif;
      font-size: 0.8rem;
      color: #D8E9A8;
      transition: 2s; }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "nav-foot foot-rrss" "footer-derechos footer-derechos";
  background-color: #272626;
  padding-top: 1rem;
  align-items: center; }
  footer .foot-nav {
    grid-area: nav-foot;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    color: #D8E9A8; }
    footer .foot-nav ul {
      display: flex;
      flex-direction: column; }
  footer .foot-rrss {
    grid-area: foot-rrss;
    align-items: center;
    justify-items: center; }
  footer .footer-derechos {
    grid-area: footer-derechos; }
    footer .footer-derechos h4 {
      font-family: "Montserrat", sans-serif;
      color: #D8E9A8;
      font-size: 0.5rem;
      font-weight: lighter;
      padding: 0.5rem;
      text-align: end; }

/*Estilo del main Index*/
#main-index {
  background-image: url("/home/fondoHome.png");
  background-size: 100% 100%;
  height: 360px;
  position: relative; }
  #main-index .text {
    padding-top: 2.5rem; }
    #main-index .text .we {
      padding-left: 2rem;
      font-family: "Brawler", serif;
      font-size: 1rem; }
    #main-index .text .title {
      padding-left: 1rem;
      font-family: "Brawler", serif;
      font-size: 3rem; }
    #main-index .text .desc {
      padding-left: 2rem;
      font-family: "Brawler", serif;
      font-size: 0.75rem; }
  #main-index .img-girl {
    bottom: 0;
    right: 0;
    position: absolute; }
    #main-index .img-girl img {
      height: 200px;
      width: 200px; }

/* Estilo main html Contato */
#main-contacto {
  height: auto;
  width: 100%; }
  #main-contacto h3 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem; }
  #main-contacto div h4 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem; }
  #main-contacto div .ubicacion {
    height: 100%;
    width: 100%; }
    #main-contacto div .ubicacion iframe {
      height: 100%;
      width: 80%; }
