//First 

//variables

@import "utilities/variables";
@import "utilities/font";
@import "utilities/medias";
@import "utilities/mixins";
@import "utilities/extend";

/*Reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Aplicación de Nesting//

/* Estilos del header y nav, igual en todas los html*/ 

header{
    @include sizes(100%, 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    & a{
        text-decoration: none;
    }
    h1{
        font-family: $font-h1;
        font-size: ($size-h1 /1.5);
        color: #E14545;
        letter-spacing: 0.3rem;
    }
}

nav{
    @include sizes (100%,1.5rem);
    background-color: $color-nav;    
    ul{
        @include sizes (100%, 100%);
        @extend %nav;
        li{
            font-family: $font-nav;
            font-size: $size-font-nav;
            color: $color-font-nav;
            transition: 2s;
            &:hover{
                background-color: $color-hover-nav;
                font-weight: bolder;
                transform: scale(1.05);
                animation: $animate-hoover;
                animation-duration: $animate-duration-hoover;
            }
            a{
                @extend %a-nav;
            }        
        }
    }
}
    
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "nav-foot foot-rrss"
                         "footer-derechos footer-derechos";
    background-color: $color-nav; 
    padding-top: 1rem;
    align-items: center;
    .foot-nav{
        grid-area: nav-foot;
        font-family: $font-nav;
        font-size: $size-font-nav;
        color: $color-font-nav;
        & ul{
            display: flex;
            flex-direction: column;
        }        
    }
    .foot-rrss{
        grid-area: foot-rrss;
        @extend %nav;
        align-items: center;
        justify-items: center;
        li{
            a{
                @extend %a-nav;
            }
        }
    }
    .footer-derechos{
        grid-area: footer-derechos;
        h4{
            font-family: $font-nav;
            color: $color-font-nav;
            font-size: 0.5rem;
            font-weight: lighter;
            padding: 0.5rem;
            text-align: end;
        }
    }
    
}       
    

/*Estilo del main Index*/

#main-index{
    background-image: url("/home/fondoHome.png");
    background-size: 100% 100%;
    height: 360px;
    position: relative;
    .text{
        padding-top: 2.5rem;
        .we{
            padding-left: 2rem;
            font-family: $font-h1;
            font-size: 1rem;
        }
        .title{
            padding-left: 1rem;
            font-family: $font-h1;
            font-size: 3rem;
        }
        .desc{
            padding-left: 2rem;
            font-family: $font-h1;
            font-size: ($size-h1 / 4 );
        }
    }
    .img-girl{
        bottom: 0;
        right: 0;
        position: absolute;
        & img{
                height: 200px;
                width: 200px;

        }
    }
}



/* Estilo main html Contato */

#main-contacto{
    @include sizes (100%, auto);
    & h3{
        font-family: $font-contact;
        font-size: 2rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    & ul{
        @extend %nav;
    }
    & div{
        h4{
            font-family: $font-contact;
            font-size: 1.5rem;
            text-align: center;
            padding-bottom: 1rem;
        }
        .ubicacion{
            @include sizes (100%, 100%);
            & iframe{
                @include sizes (80%, 100%);
            }
        }
    }
}

/* Estilos main ayuda */

#main-ayuda{
    display: grid;
    height: 100vh;
    grid-template-areas: "sec-como.comprar"
                         "sec-envios";
    grid-row-gap: 1rem;
    justify-items: center;
    .sec-como-comprar{
        margin-top: 1rem;
        @include sizes (90%, 50%);
        & h2{
            padding-left: 2rem;
            font-family: $font-contact;
            font-size: 3rem;
            background-color: #B6F5C0;
        }
        & p{
            padding: 2rem;
            font-weight: bolder;
            background-image: url(../ayuda/comocomprar.jpg);
            background-size: 100% 100%;
            opacity: 0.9;
        }
    }
    .sec-envios{
        @include sizes (90%, 50%);
        margin-bottom: 1rem;
        & p{
            text-align: right;
            font-weight: bolder;
            padding: 2rem;
            background-image: url(../ayuda/envios.jpg);
            background-size: 100% 100%;
            font-size: 1rem;
            opacity: 0.9;
        }
        & h2{
            padding: 2rem;
            text-align: right;
            background-color: #F5B6B6;
            font-family: $font-contact;
            font-size: 3rem;
        }        
    }
}

/* Estilos main Productos*/

#container-fluid{
    .row{
        padding: 1rem;
    }
}
    

/* Estilos del main html carrito*/

#main-carrito{
    font-family: $font-contact;
    font-weight: 1000;
    text-align: center;
    border-collapse: collapse;
}
