//Sólo apliqué SASS en index

//variables

@import "utilities/variables";
@import "utilities/medias";
@import "utilities/mixins";
@import "extended";

//Apliqué Nesting

body{
    background-color: $color-body;
}

/* Estilos del header y nav, igual en todas los html*/ 
/*Agregué extend en todos los h1 pq son iguales y en los links <a> */ 

header{
    h1{
        @extend %chippra;
    }
}

nav{
    ul{
        background-color: $color-nav-footer;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        li{
            font-family: $font-nav;
            font-size: $size-font-nav;
            color: $color-font-nav;
            padding: 1rem;
            transition: 2s;
            a{
                @extend %a-nav;
            }
        
        }
    }
}

nav ul li:hover{
    background-color: $color-hover-nav;
    font-weight: bolder;
    transform: scale(1.05);
    animation: $animate-hoover;
    animation-duration: $animate-duration-hoover;
}

/* Estilos del Footer, igual en todos los html*/
    
footer{
    background-color: $color-nav-footer;
    justify-content: center;
    position: relative; 
    margin-top: 2rem;
    padding: 2rem;
    .footer-inf{
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        padding-bottom: 1rem;
        div{
            .footer-contact{
                font-size: $size-footer-contact;
                font-weight: lighter;
                color: $color-font-nav;
                font-family: $font-nav;
            }
        }
        .footer-nav-html{
            font-family: $font-nav;
            font-size: $size-font-nav;
            color: $color-font-nav;
            .footer-redirigir{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                li{
                    a{
                        @extend %a-nav;
                    }
                }
            }
        }
    }
    .derecho-autor{
        font-family: $font-nav;
        color: $color-font-nav;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.5rem;
        font-weight: lighter;
        padding: 0.5rem;
    }
}


/*Estilo del main Index*/

/*Incluí mixins en el main del index para las sections y en las imágenes*/

.main-index{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(1fr 1fr 1fr 1fr);
    grid-template-areas: "sec-new-arrivals"
                         "sec-sale";
    row-gap: 2rem;
    div{
        .sec-new-arrivals{
            background-color: #68A7AD;
            @include sizes(80%, auto);
            margin: 1rem auto;
            flex-wrap: wrap;
            h2{
                padding: 5rem 0 5rem 2rem;
                font-size: $size-font-img;
                font-family: $font-main-img;
            }
        }
    }
    div{
        .sec-sale{
            background-color: #FFF338;
            @include sizes(80%, auto);
            margin: 1rem auto;
            h2{
                padding: 5rem 2rem 5rem;
                font-size: $size-font-img;
                font-family: $font-main-img;
                text-align: right;
            }
        }
    }
    
}

.img-sec{
    @include sizes(100%, 60%);
}

