$size-h1: 3rem;

$color-nav: #272626;

$color-hover-nav: #E63E6D;

$animate-hoover: headShake;

$animate-duration-hoover: 2s;

$size-font-nav: 0.8rem;

$color-font-nav: #D8E9A8;

$color-link-a-nav: #D8E9A8;







