$color-body: whitesmoke;

$color-h1:#DA0037;

$font-h1: 'Playfair Display', serif;

$size-h1: 3rem;

$color-nav-footer: #171717;

$color-hover-nav: #E63E6D;

$animate-hoover: headShake;

$animate-duration-hoover: 2s;

$font-nav: 'Montserrat', sans-serif;

$size-font-nav: 0.8rem;

$color-font-nav: #D8E9A8;

$color-link-a-nav: #D8E9A8;

$size-footer-contact: 0.4rem;

//Estilos Main Index//

$font-main-img: 'Archivo Black', sans-serif;

$size-font-img: 2rem;





